<div id="departments">
  <div class="title row">
    <div class="col-sm-12">
      <h4>Кафедры</h4>
    </div>
  </div>

  <div class="panel panel-default" ng-repeat="dep in departments">
    <div class="panel-body">
      <a ng-href="departments/{{dep.Id}}">
        {{dep.Name}}
        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="row pull-right">
    <div class="col-sm-12">
      <a href="departments/add" type="button" class="btn btn-success">
        Добавить Кафедру&nbsp;&nbsp;
        <i class="pull-right glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
</div>
