<div id="general" class="row">
  <div class="title row">
    <div class="col-sm-12">
      <h4>О факультете</h4>

      <p align="justify">
        Факультет открыт в соответствии с приказом ректора университета академика АН БССР А.Н.
        Севченко 1 апреля 1970 года на базе трех кафедр:
        вычислительной математики, прикладной математики, дифференциальных уравнений.
      </p>
      <p align="justify">
        Подобные факультеты в 60-70-ые годы были созданы и в других ведущих
        университетах бывшего Советского Союза (Московском, Ленинградском, Новосибирском,
        Киевском и др.) в связи с потребностями народного хозяйства в принципиально новых
        специалистах - прикладных математиках, использующих в своей работе на высоком
        профессиональном уровне современные математические методы и компьютерные технологии.
        До 1993 года факультет был известен как факультет прикладной математики.
        Переименование факультета связано с введением новых специальностей и специализаций
        подготовки.</p>
      <p align="justify">
        На базе факультета прикладной математики и информатики созданы и работают
        в тесном сотрудничестве с ним Учреждения БГУ со статусом юридического лица:
        <a target="_blank" href="http://www.itiubsu.by/">Институт технологий информатизации и управления</a>
        и
        <a target="_blank" href="http://apmi.bsu.by/">Научно-исследовательский институт прикладных проблем математики и информатики</a>
        Факультет имеет учебно-научный вычислительный комплекс, оснащенный современными
        компьютерами.
      </p>
      <p align="justify">
        Большую роль в организации и становлении
        факультета сыграли известные математики академики АН БССР Николай Павлович Еругин,
        <a target="_blank" href="/main.aspx?guid=21991">Владимир Иванович Крылов</a>,
        профессор <a target="_blank" href="/main.aspx?guid=22001">Богданов Юрий Станиславович</a>.
      </p>
      <p align="justify">
        Деканом факультета со дня его основания до 1981 года являлся член-корреспондент АН БССР,
        профессор
        <a target="_blank" href="/main.aspx?guid=22011">Иванов Евгений Алексеевич.</a>
        Затем до 1996 года деканом факультета являлся профессор Корзюк Виктор Иванович,
        а с 1996 года по настоящее время - доцент Мандрик Павел Алексеевич.
      </p>
    </div>
  </div>
</div>
