<div id="groups">
  <div class="title row">
    <div class="col-sm-12">
      <h4>Группы</h4>
    </div>
  </div>

  <div class="panel panel-default" ng-repeat="gr in groups | orderBy:'Name'">
    <div class="panel-body">
      <a ng-href="groups/{{gr.Id}}">
        {{gr.Name}}
        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="row pull-right">
    <div class="col-sm-12">
      <a href="groups/add" type="button" class="btn btn-success">
        Добавить Группу&nbsp;&nbsp;
        <i class="pull-right glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
</div>