<div id="students">
  <div class="title row">
    <div class="col-sm-12">
      <h4>Студенты</h4>
    </div>
  </div>

  <div class="row filter-panel">
      <form class="form-inline filter-form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Группа</div>
            <select id="grInput" class="form-control" ng-options="gr.Id as gr.Name for gr in groups" ng-model="stud.GroupId">
              <option value="">Имя группы</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Кафедра</div>
            <select id="depInput" class="form-control col-sm-9" ng-options="dep.Id as dep.Name for dep in departments" ng-model="stud.DepartmentId">
              <option value="">Имя кафедры</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Специальность</div>
            <select id="specInput" class="form-control col-sm-9" ng-options="spec.Id as spec.Name for spec in specialities" ng-model="stud.SpecialityId">
              <option value="">Имя специальности</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Найти</button>
      </form>

  </div>

  <hr/>

  <table class="table">
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>E-mail</th>
      <th></th>
    </tr>
    <tr ng-repeat="stud in students">
      <td>{{$index}}</td>
      <td>{{stud.FirstName}}</td>
      <td>{{stud.LastName}}</td>
      <td>{{stud.Email}}</td>
      <td><a ng-href="students/{{$index + 1}}">Подробнее</a></td>
    </tr>
  </table>

  <div class="row pull-right">
    <div class="col-sm-12">
      <a href="students/add" type="button" class="btn btn-success">
        Добавить студента&nbsp;&nbsp;
        <i class="pull-right glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
</div>
